.checkout-button {
    margin-right: 10px;
    background-color: #caccc8;
    color: var(--text-primary-medium);
    font-size: var(--font-size-text-medium);
    padding: 9px 25px;
    border-radius: 30px;
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

.checkout-button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}
