.text-area {
    padding-left: 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #000 #000 var(--text-secondary-light);
    transition: box-shadow .2s ease,padding .2s ease,border .2s ease;
    font-size: var(--font-size-text-big);
    font-weight: var(--font-weight-light);
}